
<h1>Add a book</h1>
<br>
<br>
<form class="form-group" action="/book/new" method="post">
  <input type="text" name="title"  placeholder="add book title">
  <br>
  <br>
  <input type="text" name="author" placeholder="add author">
  <br>
  <br>
  <button class="btn btn-success" type="submit" name="submit">submit</button>
</form>
