
<h1>Add a book</h1>
<br>
<br>
<form class="form-group" action="/book/new" method="post">
  <input type="text" name="title"  placeholder="add book title">
  <br>
  <br>
  <input type="text" name="author" placeholder="add author">
  <br>
  <br>
  <button class="btn btn-success" type="submit" name="submit">submit</button>
</form>

<h3>The books in the library:</h3>
<% if @books.any? %>
<h3>Please click the book title to view your book details</h3>
<% @books.each do |book| %>
  <ul>
    <a href="/book/<%= book.id %>"><%= book.title %></a>
  </ul>
<% end %>
<% else %>
<p> This library is empty</p>
<% end %>
